<h4>Internal Server Error</h4>


@if (error) {
  <h5 class="text-danger">Error: {{error.message}}</h5>
  <p class="font-weight-bold">Note: If you see this error then angular is not to blame!</p>
  <p>What to do next?</p>
  <ol>
    <li>Open Dev Tools (F12) and check the failing network request in the "Network" tab</li>
    <li>Examine the URL of the failing request</li>
    <li>Reproduce the error in postman - if you can reproduce the error than angular in definitely not the guy</li>
  </ol>
  <p class="font-weight-bold">Following in the stack trace - check the first 2 lines.
    This tells you exactly which line of code caused the problem!</p>
  <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
}
